.App {
  text-align: center;
}

h2 {
  margin-top: 20px;
}

.review-heading {
  font-size: 1.8rem;
  text-align: center;
}

.review-info {
  font-size: 0.9rem;
  text-align: center;
}

.comments-heading {
  font-size: 1.3rem;
}

.review-text {
  margin: 10px;
  line-height: 20px;
  text-align: left;
}

.comments-link {
  margin-right: 20px;
}

form {
  margin: 10px;
  margin-bottom: 50px;
}

.vote-btn {
  background: transparent;
  border-style: none;
}

a.hidden {
  display: none;
}

.comment-author {
  font-size: 0.8rem;
  font-weight: bold;
}

.comment-date {
  font-size: 0.8rem;
  color: rgb(95, 94, 94);
}

#sort-menu {
  margin: 15px;
}

#order-menu {
  margin: 15px;
}

.pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0px;
}

.review-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "title . . ."
    "category . . ."
    "designer . . ."
    "img-url . . ."
    "review-body review-body review-body review-body"
    ". . . review-submit";
  margin-top: 50px;
  max-width: 800px;
}

.title {
  grid-area: title;
}

.category {
  grid-area: category;
}

.designer {
  grid-area: designer;
}

.img-url {
  grid-area: img-url;
}

.review-body {
  grid-area: review-body;
}

.review-submit-btn {
  grid-area: review-submit;
  justify-self: end;
  max-width: 100px;
}
@media screen and (min-width: 600px) {
  article {
    max-width: 800px;
  }

  .comments-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
  }

  .reviews-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .review-single {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
