.App {
  text-align: center;
}

img {
  height: 300px;
  width: 300px;
  margin-bottom: 10px;
}

.review-heading {
  font-size: 1.8rem;
}

.comments-heading {
  font-size: 1.3rem;
}

.review-text {
  margin-bottom: 10px;
  line-height: 20px;
}

.comments-link {
  margin-right: 20px;
}

.vote-btn {
  background: transparent;
  border-style: none;
}

a.hidden {
  display: none;
}

.comment-author {
  font-size: 0.8rem;
  font-weight: bold;
}

.comment-date {
  font-size: 0.8rem;
  color: rgb(95, 94, 94);
}

#sort-menu {
  margin: 15px;
}

#order-menu {
  margin: 15px;
}

/* .comment-plus-icon {
  display: grid;
  grid-template-areas: "comment-body" "del-comment-btn";
  grid-template-columns: 95% 5%;
}

.review-comment {
  grid-area: comment-body;
}

.delete-comment-btn {
  grid-area: del-comment-btn;
  margin-right: 100px;
} */
